{%- assign st = section.settings -%}

{%- if st.show_filter or st.show_sorting -%}
  {%- assign position = st.sidebar -%}
  {%- assign sidebar_title = st.sidebar_title -%}

  <div class="sf__sidebar touch-none {% unless show_filter %}hidden{% endunless %}" data-type="{{ position }}">
    <div class="sf__sidebar-content overscroll-contain h-full{% if sidebar_title == blank %} sf__sidebar--no-title{% endif %}">
      {%- if sidebar_title != blank -%}
        <h3 class="text-3xl p-5 font-medium {% if position != 'fixed' %}xl:px-0 xl:mb-8 xl:py-0{% endif %}">{{ sidebar_title }}</h3>
      {%- endif -%}
      <div class="sf__sidebar-close cursor-pointer absolute top-4 right-4{% if position != 'fixed' %} xl:hidden{% endif %}">
        {%- render 'icon', name: 'x', size: 'large' -%}
      </div>
      <div class="p-5 pt-0 {% if position != 'fixed' %} xl:p-0{% endif %}">
        <div class="sf__filter-wrapper">
          {%- if st.filters_type == 'storefront_filters' -%}
            {%- for block in section.blocks -%}
              {%- if block.type == 'collections' -%}
                {%- render 'widget-collections-list', block: block, title_class: 'text-base font-medium' -%}
              {%- endif -%}
            {%- endfor -%}
            {%- render 'storefront-filters', section: section -%}
          {%- else -%}
            {%- render 'filter-by-tags', section: section -%}
          {%- endif -%}
        </div>
      </div>
    </div>
  </div>
{%- endif -%}
