<div class="sf-prod__layout-1">
    <div class="flex flex-wrap sf-prod__block sf-prod__container">
        <div class="w-full md:w-1/2">
            <div class="sf-prod-media__wrapper default-variant">
                <div class="sf-product-media__desktop justify-end hidden md:block">
                  <div class="flex-grow">
                    {% for media in product.media %}
                      <div class="sf-prod-media-item media-type-{{ media.media_type }} overflow-hidden relative group" data-index={{ forloop.index0 }}>
                        {% render 'media', media: media, aspect_ratio: media.aspect_ratio %}
                        {% render 'product-zoom-button' %}
                      </div>
                    {% endfor %}
                  </div>
                </div>
                <div class="sf-product-media__mobile md:hidden">
                  {% render 'product-page-mobile-media' %}
                </div>
            </div>
        </div>
        <div class="w-full md:w-1/2">
          {% render 'product-page__info' %}
        </div>
    </div>
</div>
