<div id="shopify-section-[id]" class="shopify-section sale_button">
  <div class="container wrapper">
  
  <hr class='border_line'>
    
  </div></div>

{% schema %}
  {
    "name": "border line",
    "settings": [],
     "presets": [
      {
        "name": "border line",
        "category": "border line"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
