
$menuFont: Nunito;
$titlefont: Nunito;


.nav-bar {

    text-align: center
}
@media (min-width: 1700px) {
    .nav-bar {

    }
}
nav.nav-bar.desktop_nav{
  background-color: #ffffff !important ;
}
.nav-bar .medium-down--hide {
  background-color: #ffffff !important ;
}

.nav-bar .site-nav--has-dropdown .icon-plus {
    font-size: 6px;
    line-height: 23px;
    margin-right: 3px
}

.site-nav__link, .site-nav,
.site-nav--mobile {
    font-size: 18px !important;
    cursor: default;
    margin: 0 0 0 -1px;
    display: inline-block;
    text-align: left
}
.site-nav li,
.site-nav--mobile li {
    margin: 0;
    display: block
}
.site-nav>li,
.site-nav--mobile>li {
    position: relative;
    display: inline-block;
    padding: 10px 0;
}
.text-right .site-nav--mobile {
    margin: 0 -15px 0 0
}
.site-nav--mobile .site-nav__link {
    font-size: 18px
}
.site-nav__link {
    display: block;
    text-decoration: none;
    padding: 15px;
    white-space: nowrap;
    color: #000000;
    text-transform: uppercase;
    font-size: 12px;
    font-family:$menuFont !important;
    font-weight: bold;
    letter-spacing: 1px
}
.site-nav__link:hover,
.site-nav__link:active,
.site-nav__link:focus {
    color: #000000;
}
.site-nav__dropdown li a{ 
  color:#0b0b0b !important; 
  font-size:22px !important;
    
}


.site-nav__dropdown li a:hover,
.site-nav__dropdown li a:active,
.site-nav__dropdown li a:focus {
    color: #11f27c !important;;
}


.site-nav__link .icon-arrow-down {
    position: relative;
    top: -2px;
    font-size: 10px;
    padding-left: 7.5px
}
.site-nav>.site-nav--active>.site-nav__link,
.site-nav--mobile>.site-nav--active>.site-nav__link {
    color: #000000;
}
.site-nav--mobile .site-nav__link {
    display: inline-block
}
.site-nav>li>.site-nav__link,
.site-nav--mobile>li>.site-nav__link {
    padding: 0px 12px
}
.site-nav__dropdown {
    position: absolute;
    left: 0;
    margin: 0;
    z-index: 200;
    min-width: 200px;
    top: 100%;
    background-color: #fff;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.176);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.176);
    -webkit-transition: all 0.35s ease 0s;
    -o-transition: all 0.35s ease 0s;
    transition: all 0.35s ease 0s;
    opacity: 0;
    filter: alpha(opacity=0);
    transform: translate3d(0px, 10%, 0px);
    visibility: hidden
}
.supports-no-touch .site-nav--has-dropdown:hover .site-nav__dropdown,
.site-nav--has-dropdown.nav-hover .site-nav__dropdown,
.nav-focus+.site-nav__dropdown {
    -webkit-transition: all 0.35s ease 0s;
    -o-transition: all 0.35s ease 0s;
    transition: all 0.35s ease 0s;
    opacity: 1;
    filter: alpha(opacity=100);
    transform: translate3d(0px, 0px, 0px);
    visibility: visible;
    padding-top: 10px;
    padding-bottom: 10px
}
.site-nav__dropdown a {
    color: #000;
    display: block;
    text-transform: none;
    font-weight: 400;
    font-family: $menuFont !important;
    padding: 5px 15px;
    font-size: 12px;
    line-height: 28px
}
.site-nav__dropdown .col-1 {
    float: left;
    width: 60%
}
.site-nav__dropdown .col-2 {
    float: left;
    width: 40%
}
.site-nav__dropdown .col-1 .inner {
    float: left;
    width: 33.3%;
    padding-right: 3%
}
.site-nav__dropdown .col-1 .inner>a {
    text-transform: uppercase;
    letter-spacing: 0.02em;
    font-weight: 700;
    padding: 0;
    margin-bottom: 5px
}
.site-nav__dropdown .col-1 .inner .dropdown {
    margin-bottom: 38px
}
.site-nav__dropdown .col-1 .inner>a {
    text-transform: uppercase;
    letter-spacing: 0.02em;
    font-weight: 700;
    padding: 0;
    margin-bottom: 5px
}
.site-nav__dropdown .col-1 ul.dropdown {
    display: block;
    position: static;
    padding: 0
}
.site-nav__dropdown .col-1 ul.dropdown li a {
    display: inline-block;
    padding: 5px 0
}
.site-nav__dropdown .col-2 {
    padding: 0 3% 0 0
}
.site-nav li.site-nav--has-dropdown>.dropdown:hover>.site-nav__dropdown,
.site-nav--mobile li.site-nav--has-dropdown>.dropdown:hover>.site-nav__dropdown,
.site-nav li.site-nav--has-dropdown>.dropdown.open>.site-nav__dropdown,
.site-nav--mobile li.site-nav--has-dropdown>.dropdown.open>.site-nav__dropdown {
    display: block
}
.nav-search {
    position: relative;
    padding: 10px 0
}
@media screen and (max-width: 768px) {
    .nav-search {
        padding: 0 0 15px;
        margin: 0 auto;
        text-align: center
    }
  .strip_hide_right_mobile, .mobile_hide_strip{ display:none;}
  .left_text_center_mobile{ float:none; text-align:center; }
}


.main-menu {
    position: relative
}
.main-menu .site-nav>.megamenu-dropdown,
.main-menu .site-nav--mobile>.megamenu-dropdown {
    position: static !important
}
.main-menu .site-nav>.megamenu-dropdown .site-nav__dropdown,
.main-menu .site-nav--mobile>.megamenu-dropdown .site-nav__dropdown {
    width: 100%;
    padding: 0
}
.main-menu .site-nav>.megamenu-dropdown .site-nav__dropdown .awemenu-megamenu-item,
.main-menu .site-nav--mobile>.megamenu-dropdown .site-nav__dropdown .awemenu-megamenu-item {
    padding: 35px 70px 38px;
    font-family: $menuFont !important;
}
.main-menu .site-nav>.megamenu-dropdown .site-nav__dropdown .awemenu-megamenu-item h3,
.main-menu .site-nav--mobile>.megamenu-dropdown .site-nav__dropdown .awemenu-megamenu-item h3,
.main-menu .site-nav>.megamenu-dropdown .site-nav__dropdown .awemenu-megamenu-item .h3,
.main-menu .site-nav--mobile>.megamenu-dropdown .site-nav__dropdown .awemenu-megamenu-item .h3 {
    font-size: 13px;
    line-height: 32px;
    font-weight: normal;
    color: #000;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding-bottom: 10px;
    border-bottom: 1px solid #eaeaea;
    margin-bottom: 14px
}
.main-menu .site-nav>.megamenu-dropdown .site-nav__dropdown .awemenu-megamenu-item ul,
.main-menu .site-nav--mobile>.megamenu-dropdown .site-nav__dropdown .awemenu-megamenu-item ul {
    margin: 0 0 38px
}
.main-menu .site-nav>.megamenu-dropdown .site-nav__dropdown .awemenu-megamenu-item ul li a,
.main-menu .site-nav--mobile>.megamenu-dropdown .site-nav__dropdown .awemenu-megamenu-item ul li a {
    font-size: 14px;
    line-height: 20px;
    color: #000;
    transition: 300ms ease
}
.main-menu .site-nav>.megamenu-dropdown .site-nav__dropdown .awemenu-megamenu-item ul li a:hover,
.main-menu .site-nav--mobile>.megamenu-dropdown .site-nav__dropdown .awemenu-megamenu-item ul li a:hover {
    color: #000000;
}
.mobile-nav {
    margin: -15px -15px 0 -15px
}
.mobile-nav li {
    margin-bottom: 0
}
.mobile-nav__search {
    padding: 15px
}
.mobile-nav__search .search-bar {
    margin-bottom: 0
}
.mobile-nav__search .input-group-btn .icon-fallback-text {
    border-radius: 0
}
.mobile-nav__item {
    position: relative;
    display: block
}
.mobile-nav>.mobile-nav__item {
    background-color: #f6f6f6
}
.mobile-nav__item:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 15px;
    right: 15px;
    border-bottom: 1px solid #e9e9e9
}
.mobile-nav>.mobile-nav__item:last-child:after {
    display: none;
}
.mobile-nav__item a {
    display: block
}
.mobile-nav__item a,
.mobile-nav__toggle button {
    color: #333;
    padding: 15px;
    text-decoration: none
}
.mobile-nav__item a:hover,
.mobile-nav__item a:active,
.mobile-nav__item a:focus,
.mobile-nav__toggle button:hover,
.mobile-nav__toggle button:active,
.mobile-nav__toggle button:focus {
    color: #0d0d0d
}
.mobile-nav__item a:active,
.mobile-nav__item a:focus,
.mobile-nav__toggle button:active,
.mobile-nav__toggle button:focus {
    background-color: #e9e9e9
}
.mobile-nav__item--active {
    font-weight: bold
}
.mobile-nav__has-sublist {
    display: table;
    width: 100%
}
.mobile-nav__has-sublist .mobile-nav__link {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    font-weight: bold
}
.mobile-nav__toggle {
    display: table-cell;
    vertical-align: middle;
    width: 1%
}
.mobile-nav--expanded .mobile-nav__toggle-open {
    display: none
}
.mobile-nav__toggle-close {
    display: none
}
.mobile-nav--expanded .mobile-nav__toggle-close {
    display: block
}
.mobile-nav__sublist {
    margin: 0;
    max-height: 0;
    visibility: hidden;
    overflow: hidden;
    transition: all 300ms cubic-bezier(0.57, 0.06, 0.05, 0.95);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden
}
.mobile-nav--expanded+.mobile-nav__sublist {
    visibility: visible;
    max-height: 1700px;
    transition: all 700ms cubic-bezier(0.57, 0.06, 0.05, 0.95)
}
.mobile-nav__sublist .mobile-nav__item:after {
    top: 0;
    bottom: auto
}
.mobile-nav__sublist .mobile-nav__link {
    padding-left: 30px;
    font-weight: normal
}
.mobile-nav__sublist .awemenu-megamenu-item {
    margin-left: 30px;
    list-style: none
}
.mobile-nav__sublist .awemenu-megamenu-item h3,
.mobile-nav__sublist .awemenu-megamenu-item .h3 {
    font-size: 14px;
    font-weight: normal
}
.mobile-nav__sublist .awemenu-megamenu-item .super li {
    list-style: none
}
li.site-nav--has-dropdown.megamenu-dropdown.nav-hover {
    position: inherit;
}
li.site-nav--has-dropdown.megamenu-dropdown ul.site-nav__dropdown {
    width: 100%;
    padding: 15px;
}
.nav-bar .medium-down--hide {
    background-color: #fff;
    position: relative;
}
li.site-nav--has-dropdown.megamenu-dropdown ul.site-nav__dropdown li ul.super li a:hover {
    color: #11f27c !important; 
  
}
li.site-nav--has-dropdown.megamenu-dropdown ul.site-nav__dropdown li ul.super {
    margin-left: 0;
}
li.site-nav--has-dropdown.megamenu-dropdown ul.site-nav__dropdown li h3 {
    margin-bottom: 0;
    font-size: 16px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 6px;
  
}
li.site-nav--has-dropdown.megamenu-dropdown ul.site-nav__dropdown li ul.super li a {
    background-color: transparent;
    line-height: 20px;
}

@media (max-width: 480px) {
.table--responsive.cart-table img {
	margin: 0 auto;
    width: 100%;  
}
  tr.cart__row.table__section a.h5 {
    text-align: center;
    font-size: 28px;
}
  tr.cart__row.table__section td.text-right {

}

  input.checkout_btn.btn {
    width: 100%;
}
  .continuous_shopping.btn {
    width: 100%;
}
  
}

@media (min-width: 320px) and (max-width: 768px) {


  .mng-srch.mobile_currency select.currency-picker {
    /* width: 100% !important; */
    border: none;
    line-height: 40px;
    font-size: 17px;
    font-weight: 400;
}
 
  #mobile_logo{ width: 90% !important; }
  .mobile-nav__toggle button.icon-fallback-text {
    width: 100%;
    text-align: left;
    font-weight: 100;
    text-transform: uppercase;
    font-size: 16px;
    font-family: $menuFont !important;
}
  .mobile-nav__toggle button.icon-fallback-text span.icon {
    float: right;
}
  
  .mng-srch a i.fa {
    font-size: 26px;
   
}
  
  .icon.icon-hamburger { 
    color:#010d10;
  } 
  
   .fa.fa-user { 
    color:#00c1f2;
  } 
  
   .fa.fa-shopping-cart { 
    color:#080909;
  } 
  
   .fa.fa-search { 
    color:#2e3638;
  } 
  
  .mng-srch a span#CartCount{
    
  color:#ffffff;
    background-color: #1d1d1d;
  }
  
.mobile-nav__sublist .awemenu-megamenu-item {
    margin-left: 0px;
    list-style: none
}
}

@media (min-width: 990px) and (max-width: 1030px) { 

  .site-nav__dropdown {
  	min-width: 170px;
  }	
  
}